@font-face {
  font-family: IRANYekanXVFaNumVF;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/IRANYekanXVFaNumVF.woff") format("woff");
}
@font-face {
  font-family: IRANYekanXVFaNumVF;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/IRANYekanXVFaNumVF.woff") format("woff");
}
@font-face {
  font-family: IRANYekanXVFaNumVF;
  font-style: normal;
  font-weight: bolder;
  src: url("../fonts/IRANYekanXVFaNumVF.woff") format("woff");
}
