/* Top Slider */
.slider {
  display: flex;
  overflow: hidden;
  padding: 20px;
  margin: -20px;
  margin-bottom: 40px;
  position: relative;
}
.slider .slider-item {
  min-width: 50%;
  border-radius: 16px;
  overflow: hidden;
  width: 50%;
}
.slider img {
  display: block;
}
.slider .slider-item:not(:last-child) {
  margin-left: 16px;
}
.slider-container {
  position: relative;
}
.slider-container .dots {
  position: absolute;
  min-width: 100px;
  min-height: 28px;
  bottom: 10px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 32px;
  padding: 8px;
  display: flex;
  right: 50%;
  transform: translateX(50%);
}
.slider-container .dots > span {
  width: 12px;
  height: 12px;
  background-color: white;
  opacity: 0.3;
  border-radius: 14px;
}
.slider-container .dots > span:not(:last-child) {
  margin-left: 12px;
}
.slider-container .dots > span.active {
  background-color: white;
  width: 36px;
  opacity: 1;
}

/* Meals */
.meals {
  border-radius: 16px;
  min-height: 100px;
  margin-bottom: 40px;
  min-width: 629px;
  display: flex;
  justify-content: center;
}
.meals > article > p {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin-top: 12px;
}
.meals > article {
  margin-left: 32px;
}
.meals img {
  border-radius: 200px;
}
.meals > .selectable#active-item {
  border: none;
}
.meals > .selectable#active-item > img {
  border: 2px solid #fb7f05;
}

/* Quick foods */
.quick-foods {
  border-radius: 16px;
  background-color: #fb7f05;
  min-height: 368px;
  margin-bottom: 40px;
  padding: 24px;
  display: flex;
  overflow-x: hidden;
}
.quick-foods > img {
  margin-left: 16px;
  min-width: 204px;
  width: 204px;
}
.quick-foods > article:not(:last-child),
.quick-foods > .loading:not(:last-child) {
  margin-left: 16px;
}
.quick-foods > .loading {
  min-width: 240px;
  height: 320px;
  border-radius: 16px;
  background-color: #00000071;
  display: flex;
}
.quick-foods.loaded > .loading {
  display: none;
}
.quick-foods > article {
  min-width: 240px;
  height: 320px;
  border-radius: 16px;
  z-index: 1;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
.quick-foods > article#active-item {
  border: none;
}
.quick-foods > article::before {
  content: "";
  background: linear-gradient(to bottom, transparent, transparent);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.quick-foods > article#active-item::before {
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.9));
}
.quick-foods > article .recipe-info {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  padding: 24px;
}
.quick-foods > article .recipe-info > p {
  font-weight: Bold;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 10px;
}
.quick-foods > article .recipe-info > span {
  font-size: 18px;
  line-height: 28px;
}
.quick-foods > article#active-item .recipe-info {
  display: block;
}

/* Banners */
.banners {
  display: flex;
  max-width: 100%;
  margin-bottom: 40px;
}
.banners .banners-recipe {
  margin-left: 24px;
  border-radius: 16px;
}
.banners .banners-cooking-assistant {
  border-radius: 16px;
}
.banners img {
  border-radius: 14px;
  display: block;
}

/* Suggestions */
.suggestions {
  border-radius: 16px;
  background-color: #f4f4f5;
  min-height: 432px;
  margin-bottom: 40px;
  padding: 24px;
}
.suggestions > .suggestions-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  padding-right: 10px;
  position: relative;
  margin-bottom: 24px;
}
.suggestions > .suggestions-title::before {
  content: "";
  width: 4px;
  height: 100%;
  background-color: #298432;
  margin-left: 6px;
  position: absolute;
  right: 0;
  border-radius: 8px;
}
.suggestions > .suggestions-cards {
  display: flex;
  overflow-x: hidden;
  height: 360px;
  padding: 10px;
  margin: -10px;
}
.suggestions .loading:not(:last-child),
.suggestions article:not(:last-child) {
  margin-left: 16px;
}
.suggestions .loading {
  min-width: 240px;
  height: 320px;
  border-radius: 16px;
  background-color: #00000071;
  display: flex;
}
.suggestions.loaded .loading {
  display: none;
}
.suggestions > .suggestions-cards > article {
  min-width: 240px;
  height: 320px;
  border-radius: 16px;
  z-index: 1;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
.suggestions > .suggestions-cards > article::before {
  content: "";
  background: linear-gradient(to bottom, transparent, transparent);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.suggestions > .suggestions-cards > article#active-item::before {
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.9));
}
.suggestions > .suggestions-cards > article .recipe-info {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  padding: 24px;
}
.suggestions > .suggestions-cards > article .recipe-info > p {
  font-weight: Bold;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 10px;
}
.suggestions > .suggestions-cards > article .recipe-info > span {
  font-size: 18px;
  line-height: 28px;
}
.suggestions > .suggestions-cards > article#active-item .recipe-info {
  display: block;
}

/* Categories */
.categories {
  display: flex;
}
.categories > article {
  border-radius: 16px;
}
.categories > article > img {
  border-radius: 14px;
  display: block;
}
.categories > article:not(:last-child) {
  margin-left: 24px;
}
