* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "IRANYekanXVFaNumVF", sans-serif;
}
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

button {
  background: none;
  border: none;
}

img {
  height: auto;
  max-width: 100%;
}

#app {
  display: flex;
  width: 100%;
}

.sidebar {
  width: 124px;
  background-color: #e8e8e8;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 16px 8px;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  width: 124px;
  height: 100px;
  justify-content: center;
  color: #a1a1a1;
  position: relative;
  outline: none;
}

.nav-item.logo {
  height: fit-content;
  cursor: default;
}

.selectable {
  border: 4px solid transparent;
}
.selectable.focused {
  border-color: #fb7f05;
}

.nav-link.focused::before {
  content: "";
  position: absolute;
  right: 0;
  width: 6px;
  height: 100px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background: #298432;
}

main {
  flex: 1;
  padding: 24px;
  overflow-y: auto;
}

/* Meals */
.meals {
  border-radius: 16px;
  min-height: 100px;
  margin-bottom: 40px;
  min-width: 629px;
  display: flex;
  justify-content: center;
}
.meals > article > p {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin-top: 12px;
}
.meals > article {
  margin-left: 32px;
}

/* Quick foods */
.quick-foods {
  border-radius: 16px;
  background-color: #fb7f05;
  min-height: 368px;
  margin-bottom: 40px;
  padding: 24px;
  display: flex;
  overflow-x: auto;
}
.quick-foods > img {
  margin-left: 16px;
}
.quick-foods > article:not(:last-child),
.quick-foods > .loading:not(:last-child) {
  margin-left: 16px;
}
.quick-foods > .loading {
  min-width: 240px;
  height: 320px;
  border-radius: 16px;
  background-color: #00000071;
  display: flex;
}
.quick-foods.loaded > .loading {
  display: none;
}
.quick-foods > article {
  min-width: 240px;
  height: 320px;
  border-radius: 16px;
  z-index: 1;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

/* Banners */
.banners {
  display: flex;
  max-width: 100%;
  margin-bottom: 40px;
}
.banners .banners-recipe {
  margin-left: 24px;
}

/* Suggestions */
.suggestions {
  border-radius: 16px;
  background-color: #f4f4f5;
  min-height: 432px;
  margin-bottom: 40px;
  padding: 24px;
}
.suggestions > .suggestions-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  padding-right: 10px;
  position: relative;
}
.suggestions > .suggestions-title::before {
  content: "";
  width: 4px;
  height: 100%;
  background-color: #298432;
  margin-left: 6px;
  position: absolute;
  right: 0;
  border-radius: 8px;
}
.suggestions > .suggestions-cards {
  display: flex;
  overflow-x: auto;
  height: 320px;
  margin-top: 24px;
}
.suggestions .loading:not(:last-child),
.suggestions article:not(:last-child) {
  margin-left: 16px;
}
.suggestions .loading {
  min-width: 240px;
  height: 320px;
  border-radius: 16px;
  background-color: #00000071;
  display: flex;
}
.suggestions.loaded .loading {
  display: none;
}

.suggestions > .suggestions-cards > article {
  min-width: 240px;
  height: 320px;
  border-radius: 16px;
  z-index: 1;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
