* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "IRANYekanXVFaNumVF", sans-serif;
}

body {
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

button {
  background: none;
  border: none;
}

#app {
  display: flex;
  width: 100%;
}

.sidebar {
  width: 124px;
  background-color: #e8e8e8;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 16px 8px;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  width: 124px;
  height: 100px;
  justify-content: center;
  color: #a1a1a1;
  position: relative;
  outline: none;
}

.nav-item.logo {
  height: fit-content;
  cursor: default;
}

.nav-link:focus {
  border: 4px solid #fb7f05;
}

.nav-link.focused {
  color: #298432;
  background-color: #e0f5e2;
}

.nav-link.focused::before {
  content: "";
  position: absolute;
  right: 0;
  width: 6px;
  height: 100px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background: #298432;
}

main {
  flex: 1;
  padding: 24px;
  overflow-y: auto;
}
