* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "IRANYekanXVFaNumVF", sans-serif;
}
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  outline: none;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: white;
}

button {
  background: none;
  border: none;
}

img {
  height: auto;
  max-width: 100%;
}

#app {
  display: flex;
  width: 100%;
}

/* D-pad control classes */
.selectable {
  position: relative;
}
.selectable#active-item {
  border: 2px solid #fb7f05;
  transform: scale(1.05);
}

/* Main */
main {
  flex: 1;
  padding: 24px;
  overflow: hidden;
}
